*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Code Pro', monospace; 
    background-color: rgb(110, 110, 110);
}
h1{
    text-align: center;
    font-size: 3rem;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
button{
    background-color: rgb(110, 110, 110);
    padding: 5px;
    border-radius: 10%;
    
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  transition-duration: 0.4s;
}

button a, section a{
    color: black;
    text-decoration: none;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
}
img{
    width: 20%;
    border-radius: 30%;
}
.transform:hover{
    transform: rotate(180deg);
    width: 30%;
}
img:hover{
    transform: skew(10deg);
}
.gridmain{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1 fr 1fr;
    height: 400px;
    margin-top: 40px;
    margin-left: 20%;
}
h2{
    margin: 20px;
}
.flex{
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 768px){
    
    .flex{
        display: grid;
        justify-content: center;
        align-items: center;
        
    }
    .container{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-left: 25%;
    }
}